.buttons {
  &__title {
    margin-bottom: 32px;
  }
  &__examples {
    display: grid;
    justify-content: flex-start;
    align-items: flex-end;
    row-gap: 48px;
    margin-bottom: 64px;
  }
  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;
  }
  &__name {
    color: $secondary;
  }
}

@media screen and (min-width: $min-laptop) {
  .buttons {
    &__examples {
      grid-template-columns: $grid-laptop;
      column-gap: $column-laptop-gap;
    }

    &__title {
      font: {
        size: $h3-laptop-size;
        weight: $h3-laptop-weight;
      }
      line-height: $h3-laptop-line-height;
    }

    &__name {
      font: {
        size: $p-14-laptop-size;
        weight: $p-14-laptop-weight;
      }
      line-height: $p-14-laptop-line-height;
    }

    &__item {
      grid-column: span 4;
    }
  }
}

@media screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
  .buttons {
    &__examples {
      grid-template-columns: $grid-tablet;
      column-gap: $column-tablet-gap;
    }

    &__title {
      font: {
        size: $h3-sm-size;
        weight: $h3-sm-weight;
      }
      line-height: $h3-sm-line-height;
    }

    &__name {
      font: {
        size: $p-14-sm-size;
        weight: $p-14-sm-weight;
      }
      line-height: $p-14-sm-line-height;
    }

    &__item {
      grid-column: span 4;
    }
  }
}

@media screen and (min-width: $min-mobile) and (max-width: $max-mobile) {
  .buttons {
    &__examples {
      grid-template-columns: $grid-mobile;
      column-gap: $column-mobile-gap;
    }

    &__title {
      font: {
        size: $h3-sm-size;
        weight: $h3-sm-weight;
      }
      line-height: $h3-sm-line-height;
    }

    &__name {
      font: {
        size: $p-14-sm-size;
        weight: $p-14-sm-weight;
      }
      line-height: $p-14-sm-line-height;
    }

    &__item {
      grid-column: span 2;
    }
  }
}
