.grid-example {
  &__title {
    margin-bottom: 32px;
  }

  &__image {
    margin-bottom: 64px;
    width: 100%;
  }

  &__properties {
    display: grid;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 48px;
  }

  &__property {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
  }

  &__name {
    color: $secondary;
  }
}

@media screen and (min-width: $min-laptop) {
  .grid-example {
    &__title {
      font: {
        size: $h3-laptop-size;
        weight: $h3-laptop-weight;
      }
      line-height: $h3-laptop-line-height;
    }

    &__name {
      font: {
        size: $p-14-laptop-size;
        weight: $p-14-laptop-weight;
      }
      line-height: $p-14-laptop-line-height;
    }

    &__value {
      font: {
        size: $p-lead-laptop-size;
        weight: $p-lead-laptop-weight;
      }
      line-height: $p-lead-laptop-line-height;
    }

    &__properties {
      grid-template-columns: $grid-laptop;
      column-gap: $column-laptop-gap;
    }

    &__property {
      grid-column: span 3;
    }
  }
}

@media screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
  .grid-example {
    &__title {
      font: {
        size: $h3-sm-size;
        weight: $h3-sm-weight;
      }
      line-height: $h3-sm-line-height;
    }

    &__name {
      font: {
        size: $p-14-sm-size;
        weight: $p-14-sm-weight;
      }
      line-height: $p-14-sm-line-height;
    }

    &__value {
      font: {
        size: $p-lead-sm-size;
        weight: $p-lead-sm-weight;
      }
      line-height: $p-lead-sm-line-height;
    }

    &__properties {
      grid-template-columns: $grid-tablet;
      gap: $column-tablet-gap;
    }

    &__property {
      grid-column: span 4;
    }
  }
}

@media screen and (min-width: $min-mobile) and (max-width: $max-mobile) {
  .grid-example {
    &__title {
      font: {
        size: $h3-sm-size;
        weight: $h3-sm-weight;
      }
      line-height: $h3-sm-line-height;
    }

    &__name {
      font: {
        size: $p-14-sm-size;
        weight: $p-14-sm-weight;
      }
      line-height: $p-14-sm-line-height;
    }

    &__value {
      font: {
        size: $p-lead-sm-size;
        weight: $p-lead-sm-weight;
      }
      line-height: $p-lead-sm-line-height;
    }

    &__properties {
      grid-template-columns: $grid-mobile;
      gap: $column-mobile-gap;
    }

    &__property {
      grid-column: span 2;
    }
  }
}
