$primary: #1b1b1b;
$secondary: #7d7d7d;
$secondary-light: #aeadae;
$error: #e80f3b;

$white: #f2f2f2;
$accent: #3e29e3;

$auxiliary: #cbcbcc;

$bg-button: linear-gradient(45deg, #dd80ed 0%, #3d28e3 100%);
$bg-button-hover: linear-gradient(225deg, #dd80ed 0%, #3d28e3 100%);
$bg-button-click: linear-gradient(206.57deg, #dd80ed 0%, #3d28e3 83.33%);
